* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: gray;
}
.chaild {
  width: 19%;
  height: 200px;
  background-color: red;
  display: inline-block;
}
@media (max-width: 420px) {
  .chaild {
    width: 100%;
    display: block;
    border: 2px solid black;
  }
}
